@font-face {
	font-family: 'monserrat';
	src: url('fonts/Montserrat-Regular.otf');
}

body {
	background-color: #2c2f33;
	font-family: 'monserrat', sans-serif;
}

#banner {
	position: fixed;
	display: flex;
	justify-content: space-between;
	height: 3em;
	width: 98%;
	background-color: #23272a;
	border-radius: 3em;
	padding: 5px;
}

#banner-main {
	display: flex;
	background-color: #1a1e20;
	height: 100%;
	border-radius: 3em;
}

#banner-icon {
	height: 100%;
	border-radius: 100%;
	margin-right: 8px;
}

#banner-title {
	color: white;
	font-size: 1.8em;
	margin: 5px 10px 0 0;
}

#banner-categories {
	display: flex;
	justify-content: space-around;
}

.banner-category {
	color: white;
	font-size: 1.5em;
	margin: 9px 25px 0;
}

#banner-main {
	display: flex;
	background-color: #1a1e20;
	height: 100%;
	border-radius: 3em;
}

#banner-login {
	display: flex;
	background-color: #1a1e20;
	height: 100%;
    border-radius: 3em;
}

#banner-user-avatar {
	height: 100%;
	margin: 0 10px 0 0;
	border-radius: 100%;
}

#login-button {
	background-color: #7289da;
	border: solid #4e5d94;
	color: white;
	border-radius: 3em;
	font-size: 1em;
	font-weight: bold;
	transition-duration: 0.4s;
}

#login-button:hover {
	background-color: #4e5d94;
	transition-duration: 0.4s;
}