/* MENU BUTTON */

#menu-toggle {
	display: block;
	position: fixed;
	top: 8em;
	left: 2em;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menu-toggle a {
	text-decoration: none;
	color: #232323;
	transition: color 0.3s ease;
}

#menu-toggle input {
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	top: -10px;
	left: -10px;
	cursor: pointer;
	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */
	-webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menu-toggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		opacity 0.55s ease;
}

#menu-toggle span:first-child {
	transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menu-toggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
}

/*
 * But let's hide the middle one.
 */
#menu-toggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menu-toggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
	position: absolute;
	width: 10em;
	left: 0.75em;
	margin: -3em 0 0 -2em;
	padding-top: 3em;
	background: #23272a;
	border: 2px solid #1a141a;
	border-radius: 1em;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
	padding: 10px 0;
}

#menu a {
	font-size: 22px;
	color: white;
}

#menu a:hover {
	color: orange;
}

/*
 * And let's slide it in from the left
 */
#menu-toggle input:checked ~ ul {
	transform: none;
}

/* END MENU BUTTON */

#clan {
	position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 2em;
}

#stats h1 {
	font-size: 3em;
}

#stats p {
	font-size: 1em;
}

#member-title {
	display: flex;
	font-size: 1.5em;
}

#member-title button {
	color:  white;
	background-color: #23272a;
	border: 2px solid #1a141a;
	border-radius: 2em;
	margin: 2em 2em;
	padding: 1em;
	cursor: pointer;
}

#member-list {
	position: relative;
	list-style-type: none;
}

#member-list li {
	display: flex;
	justify-content: space-between;
	margin: 0.5em;
}

.separator {
	position: relative;
	height: 2px;
	left: 1em;
	background-color: #23272a;
}

.member-info {
	display: flex;
	flex-direction: row;
}

.member-info span {
	margin: auto;
}

.leader, .co-leader, .member {
	width: 10em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.leader {
	color: orange;
}

.co-leader {
	color: gold;
}

.member-discord {
	background-color: #7289da;
}

.edit-button {
	display: none;
	color:  white;
	background-color: #23272a;
	border: 2px solid #1a141a;
	border-radius: 1em;
	margin: 1em 1.5em;
	cursor: pointer;
}

#member-list li:hover .edit-button {
	display: block;
}

.joined-at {
	padding: 1em 0 1em 0;
}

/* POP UP FORM */

/* The popup form - hidden by default */
#popup-form {
	display: none;
	flex-direction: column;
	position: fixed;
	width: 75%;
	top: 12.5%;
	left: 12.5%;
	background-color: #23272a;
	border: 3px solid #1a141a;
	border-radius: 2em;
	z-index: 15;
	padding: 2em;
}

#popup-form h1 {
	margin: 0 0 1em 0;
}

#popup-form #fields {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
}
  
/* Full-width input fields */
#popup-form input[type=text], #popup-form input[type=date], #popup-form select {
	padding: 13px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}
  
/* When the inputs get focus, do something */
#popup-form input[type=text], #popup-form input[type=date], #popup-form select {
	background-color: #ddd;
	outline: none;
}

#form-buttons {
	display: flex;
	flex-direction: row;
}
  
/* Set a style for the submit/login button */
#popup-form input[type=button] {
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.8;
}
  
/* Add a background color to the buttons */
#popup-form #cancel-button {
	background-color: red;
}

#popup-form #delete-button {
	background-color: grey;
}

#popup-form #save-button {
	background-color: #04AA6D;
}

/* END POP UP FORM */