@font-face {
	font-family: 'monserrat';
	src: url('../../resources/fonts/Montserrat-Regular.otf');
}

html {
	height: 100%;
}

body {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	background-color: #2c2f33;
	font-family: 'monserrat', sans-serif;
	color: white;
	height: 100%;
	margin: unset;
}

section#main {
	position: absolute;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	top: 7em;
	padding: 1em;
}

input[type=button] {
	-webkit-appearance: none;
}

#banner {
	position: fixed;
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	height: 6em;
	width: 100%;
	background-color: #23272a;
	padding: 0.4em;
	z-index: 10;
}

#banner-main {
	display: flex;
	background-color: #1a1e20;
	border-radius: 3em;
	width: fit-content;
}

#banner-icon {
	height: 100%;
	border-radius: 100%;
}

#banner-title {
	display: flex;
	color: white;
	font-size: xxx-large;
	align-self: center;
	margin: 0 0.5em 0 0.2em;
}

a {
	text-decoration: none;
	color: white;
}

/* SCROLLING MENU */

#banner-categories {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: center;
}

.banner-category > h2 {
	display: flex;
	color: white;
	font-size: 2.5em;
	border-bottom: 2px solid transparent;
	margin: 0;
}

.banner-category:hover > h2 {
	color: orange;
	border-bottom: 2px solid gold;
}

.scrolling-menu {
	display: none;
	position: fixed;
	list-style-type: none;
	background-color: #1a1e20;
	margin: 0;
	padding: 0;
	z-index: 10;
}

.banner-category:hover > .scrolling-menu {
	display: block;
}

.scrolling-menu > li {
	float: none;
	text-align: center;
	font-size: 1.4em;
	margin: 1em;
}

.scrolling-menu > li > a:hover {
	color: orange;
	transition-duration: 0.2s;
}

/* END SCROLLING MENU */

#banner-login {
	display: flex;
	background-color: #1a1e20;
	border-radius: 3em;
}

#banner-user-avatar {
	border-radius: 100%;
	margin: 0 0.5em 0 0;
	width: fit-content;
}

#login-button {
	background-color: #5865f2;
	border: solid #404ab3;
	color: white;
	border-radius: 3em;
	font-size: x-large;
	font-weight: bold;
	padding: 0 1em;
	transition-duration: 0.4s;
}

#login-button:hover {
	background-color: #404ab3;
	transition-duration: 0.4s;
}

/* ALIGN BLOCKS */

.align-center {
	position: relative;
	align-self: center;
}