#is-member {
	position: fixed;
	top: 7em;
	left: 1em;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #7289da;
	border: solid #4e5d94;
	border-radius: 1em;
	padding: 5px 7px;
}

#is-member p {
	color: white;
	height: 100%;
	margin: 0;
}