#katex-input {
	position: relative;
	top: 10em;
	width:85vw;
	resize: none;
	min-height: 2em;
	overflow: hidden;
	font-size: x-large;
}

#katex-render {
	position: relative;
	top: 15em;
	background: white;
	color: black;
	padding: 0 1em;
}