#rack {
	position: relative;
	width: fit-content;
}

#rack tbody {
	position: relative;
	display: flex;
	flex-direction: row;
}

#rack tr {
	position: relative;
	display: flex;
	flex-direction: column;
}

#rack tr > td {
	position: relative;
	width: 4em;
	height: 4em;
	border: 2px solid #1a1520;
}

#rack tr > td > img {
	width: 4em;
	height: 4em;
}

#grid-info {
	position: relative;
	top: 3em;
	display: flex;
}

#win-text {
	font-size: large;
	margin: 1em;
}

#restart-button {
	display: none;
	margin: 1em;
}
