form#download-form {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}

input#download-form-url {
	position: relative;
	border-radius: 1em;
	padding: 1em;
	margin: 1em 0;
}

form#download-form > div {
	position: relative;
	display: flex;
	justify-content: center;
}

form#download-form > div input {
	margin: 0 1em;
}

a#download-button > input {
	display: none;
}

section#progress-info {
	position: relative;
	top: 2em;
	padding: 2em;
}

.progress {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 1em;
}

.progress-video {
	top: 2em;
	font-size: large;
}

.progress-bar {
	position: relative;
	display: flex;
	align-items: flex-start;
	background-color: #1a1e20;
	width: 100%;
	height: 2em;
	border-radius: 1em;
}

.progress-bar-progress {
	position: relative;
	background-color: #5865f2;
	width: 0%;
	height: 2em;
	border-radius: 1em;
}
