table#rack {
	position: relative;
	width: fit-content;
}

table#rack > tbody {
	display: flex;
	flex-direction: row;
}

table#rack tr {
	position: relative;
	display: flex;
	flex-direction: column;
}

table#rack tr > td {
	position: relative;
	width: 4em;
	height: 4em;
	border: 2px solid #1a1520;
}

table#rack tr > td > img {
	width: 100%;
	height: 100%;
}

table#scores {
	position: relative;
}

table#scores tr > td {
	position: relative;
	font-size: medium;
	text-align: center;
	width: 4em;
	height: 4em;
	border: 2px solid transparent;
}

.red,
.yellow {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

div#grid-info {
	position: relative;
	display: flex;
}

p#win-text {
	font-size: large;
	margin: 0 1em;
}

input#restart-button {
	display: none;
}

a#credits {
	margin: 1em;
}
