div#mode-selector {
	position: relative;
	display: flex;
	justify-content: space-between;
}

div#mode-selector > div {
	display: flex;
}

div#mode-selector > div > * {
	align-self: center;
	margin: 0 0.5em;
}

table#rack {
	position: relative;
	width: fit-content;
	margin-top: 1em;
}

table#rack > tbody {
	display: flex;
	flex-direction: row;
}

table#rack tr {
	position: relative;
	display: flex;
	flex-direction: column;
}

table#rack tr > td {
	position: relative;
	width: 4em;
	height: 4em;
	border: 2px solid #1a1520;
}

table#rack tr > td > img {
	width: 100%;
	height: 100%;
}

table#scores {
	position: relative;
}

table#scores tr > td {
	position: relative;
	font-size: medium;
	text-align: center;
	width: 4em;
	height: 4em;
	border: 2px solid transparent;
}

div.red,
div.yellow {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

div.red {
	background-color: red;
}

div.yellow {
	background-color: yellow;
}

div.last-played {
	-webkit-box-shadow: inset 0 0 0 4px white;
	-moz-box-shadow: inset 0 0 0 4px white;
	box-shadow: inset 0 0 0 4px white;
}

div#grid-info {
	position: relative;
	display: flex;
}

p#win-text {
	font-size: large;
	margin: 0 1em;
}

input#restart-button {
	display: none;
}

a#credits {
	margin: 1em;
}
