#katex-input {
	display: none;
	position: relative;
	width: 100%;
	resize: none;
	overflow: hidden;
	font-size: large;
}

#katex-render {
	position: relative;
	background: white;
	color: black;
	width: 85%;
	overflow-x: auto;
	margin: 1em;
	padding: 0 1em;
}

#katex-input:placeholder-shown ~ #katex-render {
	display: none;
}

#katex-error {
	color: #cc0000;
}

#buttons {
	display: flex;
}

#buttons > input[type=button] {
	margin: 0 0.5em;
}

#edit-button {
	display: none;
}

