h1#member-title {
	position: relative;
	left: 2em;
	width: fit-content;
}

table#member-info {
	position: relative;
	align-self: center;
	width: 85%;
}

table#member-info td {
	padding: 1em;
	border: 1px red;
}

table#member-info tr:nth-child(even) {
	background: #23272a;
}

table#member-info tr:nth-child(odd) {
	background: #202427;
}
